#btop-btn {
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 9999;
  opacity: .7;
  font-size: 50px;
  line-height: 1;
}

#btop-btn:before {
  position: absolute;
  background: #ffffff;
  content: "";
  width: 37px;
  /*height: 30px;*/
  top: 10px;
  right: 3px;
  z-index: -1;
}

